.profile-component {
  .profile-title {
    text-align: center;
    margin: 0.3rem;
    font-size: large;
    font-weight: bold;
  }
  .logout-button {
    margin: 12px 50px;
  }
  .driver-name {
    font-size: large;
  }
  .info-container {
    padding: 0.5rem;
    .name-and-email {
      margin: 10px 0;
      padding: 5px;
      text-align: center;
      border-top: 1px solid black;
    }
    .basic-info-group {
      border-top: 1px solid black;
      padding: 5px;
    }
  }
  .wallet-form{
    padding: 10px 2rem;
    margin: 1rem;
  }
}
