.navbarbottom {
  overflow: hidden;
  background-color: #4ab19d;
  position: fixed;
  bottom: 0;
  width: 100%;
  a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    // padding: 0px 15px;

    // width: 25%;
    width: 33.33%;
    text-decoration: none;
    font-size: 18px;
    display: block;
    &.active {
      background: #efc958 !important;
      color: red;
    }
    span {
      display: block;
    }
  }
  .btn-logout {
    background-color: red;
    color: white;
    border-radius: 0px;
    width: 25%;
    font-size: 22px;
    border: none;
    height: auto;
    padding: 10px;
  }
}
