.home-component {
  .google-map-container {
    padding: 0.8rem;
    margin: 0.2rem;
    border: 2px solid black;
    border-radius: 2px;
  }
  .home-title {
    text-align: center;
  }
  .wallet-container{
    padding: 1rem 2rem;
  }
}

.modal-find-driver {
  margin-top: 80px;
}

.modal-title {
  font-weight: bold;
  font-size: 14px;
  margin: 0px 0px 0px 10px;
}

.modal-display-value {
  font-size: 14px;
  margin: 0px 0px 0px 0px;
}

.modal-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 30px;
}

.modal-shop-address {
  font-size: 14px;
  text-align: left;
  margin: 5px 10px 0px 10px;
}

.modal-customer-address {
  font-size: 14px;
  text-align: left;
  margin: 5px 10px 10px 10px;
}

.card-address {
  background: #c7ffec;
  margin-top: 10px;
  border: 1px solid #f0f5f5;
}

.input-info-order {
  margin-top: 10px;
}
.modal-footer {
  .btn-accept {
    background: #4ab19d;
    color: black;
  }
  .btn-cancel {
    background: #dc3545;
    color: black;
  }
}

.currentBill {
  padding: 24px 0;
  border: 1px solid gray;
}
