.main-history-title {
    text-align: center;
    Label {
        font-size: 20px;
        font-weight: bold;
        margin-top:10px;
        margin-bottom:10px; 
    }
    
}

.order-history-total {
    Label {
        font-weight: bold;
    }

    span {
        margin-left: 20px;
    }
}

.order-history-completion {
    Label {
        font-weight: bold;
    }

    span {
        margin-left: 36px;
    }
}


.history-day-bar {
   .list-button-container{
       display: flex;
       justify-content: center;
       
   }
}

.order-history-shop-name {
    font-weight: bold;
    font-size: 14px;
    margin: 5px 0px 0px 15px;
}

.order-history-total-title {
    font-weight: bold;
    font-size: 14px;
    margin: 5px 0px 0px 70px;
}

.order-history-total-price {
    font-weight: bold;
    font-size: 14px;
    margin: 5px 0px 0px 10px;
}

.order-history-shop-address {
    font-size: 14px;
    text-align: center;
    margin: 15px 10px 0px 10px;
}

.order-history-customer-address {
    font-size: 14px;
    text-align: center;
    margin: 5px 10px 10px 10px;
}


.bootstrap-datetimepicker-widget .datepicker-days table tbody tr:hover {
    background-color: #eee;
}